<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Recommender</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-dark text-white">

<div class="container mt-5">

    <h1 class="text-center mb-4">🎵 Music Recommender System</h1>

    <form action="/recom" method="POST" class="text-center">
        <select name="song" class="form-select w-50 mx-auto mb-3">
            {% for song in songs %}
                <option value="{{song}}"
                    {% if selected_song == song %} selected {% endif %}>
                    {{song}}
                </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">
            Recommend
        </button>
    </form>

    {% if recommended_songs %}
    <div class="mt-5">
        <h3 class="text-center">Recommended Songs 🎧</h3>
        <div class="row mt-4">
            {% for song in recommended_songs %}
            <div class="col-md-4 mb-3">
                <div class="card bg-secondary text-white">
                    <div class="card-body text-center">
                        <h5>{{ song }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
